In [1]:
import pandas as pd

In [103]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import os
import sys
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import seaborn as sns

from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [104]:
#MOST GIVEN ANSWER OF WHAT WAS HELPFUL

In [124]:

#What was the most helpful part of the session?
data_1 = pd.read_excel("/Users/macbookretina/Desktop/Session_Exit_Survey2021-07-22_14_51_18.xlsx", 
                       usecols = [0,4], parse_dates=True, 
                       names=['Submission Date', 'Helpful'],
                       dtype={'Submission Date': str, 'Helpful': str})

#mood_data_1 = data_1.sort_values('Mood Ratings')
mood_data_1 = data_1
#mood_data_1 = mood_data_1.dropna()
mood_data_1["Group"] = "Big Circle"
mood_data_1

,Submission Date,Helpful,Group
0,2021/06/13 19:18:05,dani was very great at making us feel comforta...,Big Circle
1,2021/06/13 19:18:01,the end mediation,Big Circle
2,2021/05/10 19:32:28,Feeling the communal love,Big Circle
3,2021/05/10 19:20:49,just sharing with everybody,Big Circle
4,2021/05/10 19:19:39,Seeing everyone’s progress,Big Circle
...,...,...,...
113,2020/07/24 18:29:04,seeing infographics about rape/assault,Big Circle
114,2020/07/24 18:28:47,The discussions we got to have where Danielle ...,Big Circle
115,2020/07/17 18:09:29,The questions where we got to unpack our fears...,Big Circle
116,2020/07/17 18:08:26,Discussing our fears in relation to sexual ass...,Big Circle
117,2020/07/17 18:06:55,Introduction & getting to learn about each oth...,Big Circle

In [125]:
#art circle

data_2 = pd.read_excel("/Users/macbookretina/Desktop/Session Exit Survey - Art Circle (Responses).xlsx", 
                       usecols = [0,4], parse_dates=True, 
                       names=['Submission Date', 'Helpful'],
                       dtype={'Submission Date': str, 'Helpful': str})

#mood_data_2 = data_2.sort_values('Mood Ratings')
mood_data_2 = data_2
#mood_data_1 = mood_data_1.dropna()
mood_data_2["Group"] = "Art Circle"
mood_data_2

,Submission Date,Helpful,Group
0,2021-05-03 00:32:17.294000,Grounding excercise,Art Circle
1,2021-05-03 00:32:29.723000,the circle drawing at the end,Art Circle
2,2021-05-03 00:32:41.258000,I felt comfortable enough to explore how i was...,Art Circle
3,2021-05-10 00:24:20.862000,The opening meditation,Art Circle
4,2021-05-10 00:24:23.035000,the door and hearing what other people said ab...,Art Circle
5,2021-05-10 00:24:23.774000,Other people’s interpretations of what I drew ...,Art Circle
6,2021-05-10 00:24:40.290000,Music in tangent with the art prompts,Art Circle
7,2021-05-17 00:29:46.456000,the past present future drawing,Art Circle
8,2021-05-17 00:29:58.883000,Prompts w/ the art-making,Art Circle
9,2021-05-24 00:22:27.680000,being able to draw what i didnt even know i ne...,Art Circle
10,2021-05-24 00:22:32.799000,Reflecting on our approach to our art.,Art Circle
11,2021-05-31 00:20:32.456000,questions after we finished each prompt to ref...,Art Circle
12,2021-06-21 00:11:25.302000,new material - enjoyed the sensory experience,Art Circle
13,2021-06-21 00:12:02.361000,I really liked the clay it was good with emotions,Art Circle
14,2021-06-29 20:26:16.845000,the talking,Art Circle
15,2021-06-29 20:27:47.844000,The directive on creating a piece that sums up...,Art Circle

In [126]:
#queer circle

data_3 = pd.read_excel("/Users/macbookretina/Desktop/Exit Survey - Queer Circle (Responses).xlsx", 
                       usecols = [0,4], parse_dates=True, 
                       names=['Submission Date', 'Helpful'],
                       dtype={'Submission Date': str, 'Helpful': str})

#mood_data_3 = data_3.sort_values('Mood Ratings')
mood_data_3 = data_3
#mood_data_1 = mood_data_1.dropna()
mood_data_3["Group"] = "Queer Circle"
mood_data_3

,Submission Date,Helpful,Group
0,2021-05-01 19:26:24.926000,Laughing,Queer Circle
1,2021-05-04 00:07:17.370000,I don't know.,Queer Circle
2,2021-05-04 00:08:24.891000,Laughing,Queer Circle
3,2021-05-04 18:56:25.749000,conversation,Queer Circle
4,2021-05-08 20:11:17.968000,Meditating & stretching out before movement,Queer Circle
5,2021-05-11 00:02:13.220000,Talking,Queer Circle
6,2021-05-11 00:02:42.499000,Affirmations,Queer Circle
7,2021-05-11 04:01:03.282000,talking and checking in with everyone,Queer Circle
8,2021-05-29 20:03:57.524000,Jae,Queer Circle

In [127]:
#append improvement

data_imp_1 = mood_data_1.append(mood_data_2)

data_imp = data_imp_1.append(mood_data_3)

data_imp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143 entries, 0 to 8
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Submission Date  143 non-null    object
 1   Helpful          143 non-null    object
 2   Group            143 non-null    object
dtypes: object(3)
memory usage: 4.5+ KB

In [128]:
data_imp["index"] = 0

for i in range(143):
    data_imp.iloc[i, data_imp.columns.get_loc('index')] = i
    
    
data_imp = data_imp.set_index('index')
data_imp

,Submission Date,Helpful,Group
index,,,
0,2021/06/13 19:18:05,dani was very great at making us feel comforta...,Big Circle
1,2021/06/13 19:18:01,the end mediation,Big Circle
2,2021/05/10 19:32:28,Feeling the communal love,Big Circle
3,2021/05/10 19:20:49,just sharing with everybody,Big Circle
4,2021/05/10 19:19:39,Seeing everyone’s progress,Big Circle
...,...,...,...
138,2021-05-08 20:11:17.968000,Meditating & stretching out before movement,Queer Circle
139,2021-05-11 00:02:13.220000,Talking,Queer Circle
140,2021-05-11 00:02:42.499000,Affirmations,Queer Circle
141,2021-05-11 04:01:03.282000,talking and checking in with everyone,Queer Circle
142,2021-05-29 20:03:57.524000,Jae,Queer Circle

In [129]:
group_data_2 = data_imp.sort_values('Group')
group_data_2 = group_data_2.dropna()
group_data_2

,Submission Date,Helpful,Group
index,,,
121,2021-05-10 00:24:20.862000,The opening meditation,Art Circle
118,2021-05-03 00:32:17.294000,Grounding excercise,Art Circle
119,2021-05-03 00:32:29.723000,the circle drawing at the end,Art Circle
120,2021-05-03 00:32:41.258000,I felt comfortable enough to explore how i was...,Art Circle
122,2021-05-10 00:24:23.035000,the door and hearing what other people said ab...,Art Circle
...,...,...,...
137,2021-05-04 18:56:25.749000,conversation,Queer Circle
138,2021-05-08 20:11:17.968000,Meditating & stretching out before movement,Queer Circle
139,2021-05-11 00:02:13.220000,Talking,Queer Circle
140,2021-05-11 00:02:42.499000,Affirmations,Queer Circle
142,2021-05-29 20:03:57.524000,Jae,Queer Circle

In [130]:
group_data_2['ca_id'] = group_data_2['Group'].factorize()[0]
category_id_df = group_data_2[['Group', 'ca_id']].drop_duplicates().sort_values('ca_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['ca_id', 'Group']].values)

In [131]:
group_data_2

,Submission Date,Helpful,Group,ca_id
index,,,,
121,2021-05-10 00:24:20.862000,The opening meditation,Art Circle,0
118,2021-05-03 00:32:17.294000,Grounding excercise,Art Circle,0
119,2021-05-03 00:32:29.723000,the circle drawing at the end,Art Circle,0
120,2021-05-03 00:32:41.258000,I felt comfortable enough to explore how i was...,Art Circle,0
122,2021-05-10 00:24:23.035000,the door and hearing what other people said ab...,Art Circle,0
...,...,...,...,...
137,2021-05-04 18:56:25.749000,conversation,Queer Circle,2
138,2021-05-08 20:11:17.968000,Meditating & stretching out before movement,Queer Circle,2
139,2021-05-11 00:02:13.220000,Talking,Queer Circle,2
140,2021-05-11 00:02:42.499000,Affirmations,Queer Circle,2
142,2021-05-29 20:03:57.524000,Jae,Queer Circle,2

In [132]:
# FIND THE MOST USED UNIGRAMS AND BIGRAMGS
singles = ""
#doubles = ""

model=LinearSVC()

# GET THE TERM FREQUENCY AND INVERSE DOCUEMNT FREQUENCY scores of the words all at once
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
features = tfidf.fit_transform(group_data_2.Helpful).toarray()
labels = group_data_2.ca_id

model.fit(features, labels)
N = 2
for industry, in_id in sorted(category_to_id.items()):
  indices = np.argsort(model.coef_[in_id])
  feature_names = np.array(tfidf.get_feature_names())[indices]
  unigrams = [v for v in reversed(feature_names) if len(v.split(' ')) == 1][:N]
#  bigrams = [v for v in reversed(feature_names) if len(v.split(' ')) == 2][:N]

  for i in range(2):
      singles = singles + " " + unigrams[i]
#      doubles =  doubles + " " + bigrams[i]
  print("# '{}':".format(industry))
  print("  . Top unigrams:\n       . {}".format('\n       . '.join(unigrams)))
#  print("  . Top bigrams:\n       . {}".format('\n       . '.join(bigrams)))

# 'Art Circle':
  . Top unigrams:
       . past
       . people
# 'Big Circle':
  . Top unigrams:
       . experiences
       . self
# 'Queer Circle':
  . Top unigrams:
       . talking
       . present

In [133]:
#MOST GIVEN ANSWER OF WHAT WOULD YOU CHANGE ABOUT CIRCLES

In [134]:


#Is there anything you would have changed about this session?
data_4 = pd.read_excel("/Users/macbookretina/Desktop/Session_Exit_Survey2021-07-22_14_51_18.xlsx", 
                       usecols = [0,5], parse_dates=True, 
                       names=['Submission Date', 'Change'],
                       dtype={'Submission Date': str, 'Change': str})

#mood_data_4 = data_4.sort_values('Mood Ratings')
mood_data_4 = data_4
#mood_data_1 = mood_data_1.dropna()
mood_data_4["Group"] = "Big Circle"
mood_data_4

,Submission Date,Change,Group
0,2021/06/13 19:18:05,NaN,Big Circle
1,2021/06/13 19:18:01,no,Big Circle
2,2021/05/10 19:32:28,no,Big Circle
3,2021/05/10 19:20:49,no!,Big Circle
4,2021/05/10 19:19:39,NaN,Big Circle
...,...,...,...
113,2020/07/24 18:29:04,I would not have used the word victim,Big Circle
114,2020/07/24 18:28:47,Nothing at all!,Big Circle
115,2020/07/17 18:09:29,"No, I think this session was awesome!!",Big Circle
116,2020/07/17 18:08:26,A few more back-up questions in the chance tha...,Big Circle
117,2020/07/17 18:06:55,NaN,Big Circle

In [135]:
#art circle

data_5 = pd.read_excel("/Users/macbookretina/Desktop/Session Exit Survey - Art Circle (Responses).xlsx", 
                       usecols = [0,5], parse_dates=True, 
                       names=['Submission Date', 'Change'],
                       dtype={'Submission Date': str, 'Change': str})

#mood_data_5 = data_5.sort_values('Mood Ratings')
mood_data_5 = data_5
#mood_data_1 = mood_data_1.dropna()
mood_data_5["Group"] = "Art Circle"
mood_data_5

,Submission Date,Change,Group
0,2021-05-03 00:32:17.294000,NaN,Art Circle
1,2021-05-03 00:32:29.723000,no,Art Circle
2,2021-05-03 00:32:41.258000,n/a. excited to continue,Art Circle
3,2021-05-10 00:24:20.862000,NaN,Art Circle
4,2021-05-10 00:24:23.035000,no,Art Circle
5,2021-05-10 00:24:23.774000,NaN,Art Circle
6,2021-05-10 00:24:40.290000,"had another art piece/activitiy, and/or includ...",Art Circle
7,2021-05-17 00:29:46.456000,no,Art Circle
8,2021-05-17 00:29:58.883000,NaN,Art Circle
9,2021-05-24 00:22:27.680000,no,Art Circle
10,2021-05-24 00:22:32.799000,NaN,Art Circle
11,2021-05-31 00:20:32.456000,NaN,Art Circle
12,2021-06-21 00:11:25.302000,NaN,Art Circle
13,2021-06-21 00:12:02.361000,no i just do personally like when there is a b...,Art Circle
14,2021-06-29 20:26:16.845000,no,Art Circle
15,2021-06-29 20:27:47.844000,NaN,Art Circle

In [136]:
#queer circle

data_6 = pd.read_excel("/Users/macbookretina/Desktop/Exit Survey - Queer Circle (Responses).xlsx", 
                       usecols = [0,5], parse_dates=True, 
                       names=['Submission Date', 'Change'],
                       dtype={'Submission Date': str, 'Change': str})

#mood_data_6 = data_6.sort_values('Mood Ratings')
mood_data_6 = data_6
#mood_data_1 = mood_data_1.dropna()
mood_data_6["Group"] = "Queer Circle"
mood_data_6

,Submission Date,Change,Group
0,2021-05-01 19:26:24.926000,NaN,Queer Circle
1,2021-05-04 00:07:17.370000,More specific prompted questions; moving off s...,Queer Circle
2,2021-05-04 00:08:24.891000,NaN,Queer Circle
3,2021-05-04 18:56:25.749000,NaN,Queer Circle
4,2021-05-08 20:11:17.968000,a little mire direction-related activities,Queer Circle
5,2021-05-11 00:02:13.220000,NaN,Queer Circle
6,2021-05-11 00:02:42.499000,"More activities/discussions, I thought we shou...",Queer Circle
7,2021-05-11 04:01:03.282000,NaN,Queer Circle
8,2021-05-29 20:03:57.524000,NaN,Queer Circle

In [137]:
#append effect

data_eff_1 = mood_data_4.append(mood_data_5)

data_eff = data_eff_1.append(mood_data_6)

data_eff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143 entries, 0 to 8
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Submission Date  143 non-null    object
 1   Change           82 non-null     object
 2   Group            143 non-null    object
dtypes: object(3)
memory usage: 4.5+ KB

In [138]:
data_eff["index"] = 0

for i in range(143):
    data_eff.iloc[i, data_eff.columns.get_loc('index')] = i
    
    
data_eff = data_eff.set_index('index')
data_eff

,Submission Date,Change,Group
index,,,
0,2021/06/13 19:18:05,NaN,Big Circle
1,2021/06/13 19:18:01,no,Big Circle
2,2021/05/10 19:32:28,no,Big Circle
3,2021/05/10 19:20:49,no!,Big Circle
4,2021/05/10 19:19:39,NaN,Big Circle
...,...,...,...
138,2021-05-08 20:11:17.968000,a little mire direction-related activities,Queer Circle
139,2021-05-11 00:02:13.220000,NaN,Queer Circle
140,2021-05-11 00:02:42.499000,"More activities/discussions, I thought we shou...",Queer Circle
141,2021-05-11 04:01:03.282000,NaN,Queer Circle
142,2021-05-29 20:03:57.524000,NaN,Queer Circle

In [139]:
group_data_3 = data_eff.sort_values('Group')
group_data_3 = group_data_3.dropna()
group_data_3

,Submission Date,Change,Group
index,,,
119,2021-05-03 00:32:29.723000,no,Art Circle
120,2021-05-03 00:32:41.258000,n/a. excited to continue,Art Circle
122,2021-05-10 00:24:23.035000,no,Art Circle
125,2021-05-17 00:29:46.456000,no,Art Circle
124,2021-05-10 00:24:40.290000,"had another art piece/activitiy, and/or includ...",Art Circle
...,...,...,...
47,2021/04/05 19:24:39,Maybe a little more discussion with everyone?,Big Circle
41,2021/04/10 12:34:36,nope!,Big Circle
135,2021-05-04 00:07:17.370000,More specific prompted questions; moving off s...,Queer Circle
138,2021-05-08 20:11:17.968000,a little mire direction-related activities,Queer Circle
140,2021-05-11 00:02:42.499000,"More activities/discussions, I thought we shou...",Queer Circle

In [140]:
group_data_3['ca_id'] = group_data_3['Group'].factorize()[0]
category_id_df = group_data_3[['Group', 'ca_id']].drop_duplicates().sort_values('ca_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['ca_id', 'Group']].values)

In [141]:
group_data_3

,Submission Date,Change,Group,ca_id
index,,,,
119,2021-05-03 00:32:29.723000,no,Art Circle,0
120,2021-05-03 00:32:41.258000,n/a. excited to continue,Art Circle,0
122,2021-05-10 00:24:23.035000,no,Art Circle,0
125,2021-05-17 00:29:46.456000,no,Art Circle,0
124,2021-05-10 00:24:40.290000,"had another art piece/activitiy, and/or includ...",Art Circle,0
...,...,...,...,...
47,2021/04/05 19:24:39,Maybe a little more discussion with everyone?,Big Circle,1
41,2021/04/10 12:34:36,nope!,Big Circle,1
135,2021-05-04 00:07:17.370000,More specific prompted questions; moving off s...,Queer Circle,2
138,2021-05-08 20:11:17.968000,a little mire direction-related activities,Queer Circle,2
140,2021-05-11 00:02:42.499000,"More activities/discussions, I thought we shou...",Queer Circle,2

In [142]:
# FIND THE MOST USED UNIGRAMS AND BIGRAMGS
singles = ""
#doubles = ""

model=LinearSVC()

# GET THE TERM FREQUENCY AND INVERSE DOCUEMNT FREQUENCY scores of the words all at once
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
features = tfidf.fit_transform(group_data_3.Change).toarray()
labels = group_data_3.ca_id

model.fit(features, labels)
N = 2
for industry, in_id in sorted(category_to_id.items()):
  indices = np.argsort(model.coef_[in_id])
  feature_names = np.array(tfidf.get_feature_names())[indices]
  unigrams = [v for v in reversed(feature_names) if len(v.split(' ')) == 1][:N]
#  bigrams = [v for v in reversed(feature_names) if len(v.split(' ')) == 2][:N]

  for i in range(2):
      singles = singles + " " + unigrams[i]
#      doubles =  doubles + " " + bigrams[i]
  print("# '{}':".format(industry))
  print("  . Top unigrams:\n       . {}".format('\n       . '.join(unigrams)))
#  print("  . Top bigrams:\n       . {}".format('\n       . '.join(bigrams)))

# 'Art Circle':
  . Top unigrams:
       . like
       . inclusive
# 'Big Circle':
  . Top unigrams:
       . time
       . language
# 'Queer Circle':
  . Top unigrams:
       . inclusive
       . time